/* Body */

body {
    background-color: rgb(226, 224, 221);
  }

/* Navigation bar */

nav {
  border-radius: 0 0 10px 10px;
}

.navbar-color-buttons:hover {
  background-color: #DEDBD2;
  border: 1px black solid;
  border-radius: 10px;
  transition: 0.3s;
}

.nav-search-button {
  color: black;
  border: 1px black solid;
}

.nav-search-button:hover {
  color: black;
}

/* Main Headers */

.main-header {
  text-align: center;
  margin-top: 3%;
}

/* Container for most of containers on page */

.container-color-rounder {
  background-color: white;
  border-radius: 25px;
  border: 1px black solid;
}

/* Index.html */

.news-post-container {
    margin: 30px auto;
}

.inner-post-container {
  border-radius: 25px;
  margin-bottom: 10px;
}

/* Empty comment link */

.empty-comment-link {
  text-decoration: none;
  border-bottom: 1px black dotted;
  color: black;
}

.empty-comment-link:hover {
  text-decoration: none;
  border-bottom: solid;
  color: black;
}

/* Comment page */

.comment-container {
  border-bottom: 1px black solid;
  margin-top: 10px;
}

.post-comment-headling {
  text-decoration: underline solid;
}

#comment-submit-button {
  border-radius: 10px;
  border: 1px black solid;
  margin-top: 15px;
  width: 20%;
}

#comment-submit-button:hover {
  background-color: #B0C4B1;
  border: 1px black solid;
  transition: 0.3s;
}

/* Footer */

footer {
  border-radius: 10px 10px 0 0;
}

/* search-results.html */

#search-results {
  text-decoration: none;
  color: black;
}

#search-results:hover {
  border-bottom: 1px black solid;
}

/* questions.html */

.question-search-container-text {
  text-align: center;
}

/* Login, signup and register pages */

.submit-button {
  border-radius: 10px;
  border: 1px black solid;
  margin-bottom: 15px;
}

.submit-button:hover {
  background-color: #B0C4B1;
  border: 1px black solid;
  transition: 0.3s;
}