body {
    background-color: rgb(226, 224, 221);
  }

.nav-search-button {
  color: black;
  border: 1px black solid;
}

.nav-search-button:hover {
  color: black;
}

#search-results {
  text-decoration: none;
  color: black;
}


#search-results:hover {
  border-bottom: 1px black solid;
}

.navbar-color-buttons:hover {
  background-color: #DEDBD2;
  border: 1px black solid;
  border-radius: 10px;
  transition: 0.3s;
}

.submit-button {
  border-radius: 10px;
  border: 1px black solid;
  margin-bottom: 15px;
}

.submit-button:hover {
  background-color: #B0C4B1;
  border: 1px black solid;
  transition: 0.3s;
}

.container-color {
  background-color: white;
  border-radius: 25px;
  border: 1px black solid;
}


.post-container {
    margin-top: 10px;
}

/* Comment page */

#comment-submit-button {
  border-radius: 10px;
  border: 1px black solid;
  margin-top: 15px;
  width: 20%;
}

#comment-submit-button:hover {
  background-color: #B0C4B1;
  border: 1px black solid;
  transition: 0.3s;
}