body {
    background-color: rgb(226, 224, 221);
  }

.submit-button {
  border-radius: 10px;
  border: 1px black solid;
  margin-bottom: 15px;
}

.container-color {
  background-color: white;
  border-radius: 25px;
  border: 1px black solid;
}


.post-container {
    margin-top: 10px;
}

