{% extends "base.html" %}

{% block content %}
<h1 class="main-header">Welcome to News Blog!</h1>
<!-- Container for News Post content -->
<div class="container news-post-container">
  <div class="row edge-color-style rounder">
    <div class="col-12 col-md-12 p-3 border rounder">
      <!-- For loop to get posts to display on page -->
      {% for post in posts %}
      <div class="card inner-post-container">
        <div class="card-body container-color-rounder">
          <!-- Post content -->
          <h1 class="card-title post-comment-headling">{{ post.title }}</h1>
          <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
          <!-- Slice content to 600 -->
          <p class="card-text">{{post.content|slice:":300" }}</p>
          <!-- Link to read the entire article -->
          {% if user.is_authenticated %}
          <a href="{% url 'post_detail' post.id  %}" class="btn btn-secondary">Read The Entire Article Here</a>
          {% else %}
          <a href="{% url 'account_signup' %}" class="btn btn-secondary">Register Here To See Full Post</a>
          <hr>
          {% endif %}
          <!-- Comments, If/Else statement used so not logged in users cant see comments -->
          <h2 class="post-comment-headling">Comments</h2>
          {% if not user.is_authenticated %}
          <p>Log in to see comments</p>
          {% else %}
          <!-- If/Else statement used to determine if there has not been any comments yet, if there isn't a link is shown -->
          {% if not post.comments.all %}
          <p>No Comments Yet <a href="{% url 'post_detail' post.id  %}" class="empty-comment-link">Add One Here</a></p>
          {% else %}
          <!-- Comment content -->
          {% for comment in post.comments.all %}
          <div class="comment-container">
            <strong>{{ comment.name }} | {{ comment.created_on }}</strong>
            <br>
            <p>{{ comment.body }}</p>
          </div>
          {% endfor %}
          {% endif %}
          {% endif %}
        </div>
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}