{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="main-header">Update your post here!</h1>
<!-- Container for updating a post -->
<div class="container mt-5 news-post-container">
  <div class="row">
    <div class="col-md-8 offset-md-2 container-color-rounder question-search-container-text">
      <!-- Form for updating post -->
      <form method="post">
        {{ form | crispy }}
        {% csrf_token %}
        <button class="btn btn-success submit-button" type="submit">Update</button>
        <a href="{% url 'post_detail' post.id %}" class="btn btn-light submit-button">Back to post</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}