{% extends 'base.html' %}

{% block content %}

<h1 class="main-header">Questions</h1>
<!-- For loop to post all questions -->
{% for question in question_list %}
<div class="container mt-5 news-post-container">
    <div class="row">
        <div class="col-md-8 offset-md-2 container-color-rounder question-search-container-text">
            <!-- Post questions -->
            <h1 class="post-comment-headling">{{ question.title }}</h1>
            <strong>
                <p>posted on {{ question.created_on }}</p>
            </strong>
            <p class="card-text">{{ question.question | safe }}</p>
            <hr>
            <h2 class="post-comment-headling">Answer</h2>
            <div>
                <p>{{ question.answer }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}